html,
body {
    height: 100%;
}

input:invalid {
    border: 5px red;
}

input:valid {
    border: 5px black;
}

img#ava {
    border-radius: 50%;
}

div#content {
    height: 100%;
}

ul#questions {
    list-style-type: none;
    text-align: left;
}

ul#else {
    list-style-type: none;
    text-align: left;
    font-size: 40px;
}

ul#else li {
    border: 2px solid rgb(129, 34, 39);
}

.active {
    background-color: cyan;
}

ul#test {
    text-align: left;
    font-size: 40px;
    margin-left: 35%;
    margin-right: 35%;
}